{% extends "layout.html" %}

{% block content %}
	{% for quest in questions %}
		<article class="media content-section">
			<div class="media-body">
				<div>
					<h1>
						<a class="article-title" href="{{ url_for('single_post',postid=quest.PostID) }}">{{ quest.PostTitle}}
						</a>
					</h1>
				</div>
				<small 	
					class="text-muted"> {{ quest.registeruser.FirstName }}-{{ quest.DatePost.strftime('%Y-%m-%d') }}
				</small>
				<p class="article-content">{{ quest.PostContent}}</p>
			</div>
		</article>
	{% endfor %}
{% endblock content %}

{% block sideheader %}Question & Answer{% endblock sideheader %}

{% block list %}
	<li class="list-group-item list-group-item">
		<a class="list-group-item list-group-item" href="{{ url_for('new_post') }}">Add New Question</a>
	</li>
    <li class="list-group-item list-group-item">Latest Post:</li>
    <li class="list-group-item list-group-item">Number of Post:</li>
{% endblock list %}